.test{
    border-radius: ;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;


    transform: ;
    -webkit-transform:;
    -moz-transform:;
    -ms-transform:;
    -o-transform:;

    padding: ;

    display: flex;

    display: flex;

    display: ;

    border: ;
}